page-login {
  .fixed-pos{
    position: absolute; 
    bottom: 0px; 
    width: 100%
  }
  .fb-button{
    width:50%;
  }
  .intro {
    height: 85%;
    padding-top: 2%;
    padding-bottom: 1%;
    
  }
}