<ion-header>
    <ion-navbar color="primary">
        <ion-title><ion-spinner color="light" *ngIf="!(users | async)"></ion-spinner></ion-title> 
        <ion-buttons left> <button disabled={{buttonDisabled}} ion-button (click) = "goToSettings()" >Settings</button> </ion-buttons>
        <ion-buttons end> <button disabled={{buttonDisabled}} ion-button (click) = "goToChat()" >Chat</button> </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content (swipe)="swipeEvent($event)" no-bounce>
  
  <ion-card  *ngIf="!greeksFound" class="greeks-not-found">
    <ion-card-title class="center card-title">
        Hmmm...
      </ion-card-title>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col width-100 class="center card-subtitle">
            There are no Greeks left in your area.
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col width-100 class="center card-subtitle closer">
            Check back later!
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-100 class="center card-subtitle far">
            
              Call yiayia back in the meantime :-)
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div>
  <ion-slides [options]="slideOptions" *ngIf="greeksFound">
    <template ngFor let-user [ngForOf]="users | async">
      <template [ngIf]="user.$key !== uid">
      <!--<ion-slide *ngFor="let user of users | async" (click)="ionSlideTap()">-->
       <ion-slide (click)="ionSlideTap(user.$key)">
      <ion-card>
        <div class="center">
          <img class="img-card" *ngIf="!user.profile_picture" src="assets/images/default.png">
          <img class="img-card" *ngIf="user.profile_picture" src="{{user.profile_picture}}">
        </div>
    <ion-card-content>
      <ion-card-title >
        {{user.username}}
      </ion-card-title>
      <p>
        <ion-grid>
          <ion-row class="center">
            <ion-col width-25><span id="loc-title">{{user.location}}</span></ion-col>
            <ion-col width-50></ion-col>
            <ion-col width-10></ion-col>
            <ion-col width-10 class="img-center"><span id="loc-title">20</span></ion-col>
          </ion-row>
        </ion-grid>
      </p>
    </ion-card-content>
  </ion-card>
   </ion-slide>
   </template>
    </template>
  </ion-slides>
  </div>

<div class="fixed-pos" *ngIf="buttonsVisible">
   <ion-grid *ngIf="greeksFound" class="closer">
    <ion-row class="center">
      <ion-col width-25 class="img-center" (click) = "redo()" *ngIf="premium">
        <img [@fade]="fadeState" [@bounce]="bounceState" src="assets/images/Premium-slide1-A.png" />
      </ion-col>
      <ion-col width-25 class="img-center" (click) = "reject()">
        <img [@fade]="fadeState" [@bounce]="bounceState" src="assets/images/Premium-slide4-A.png" />
      </ion-col>
      <ion-col width-25 class="img-center" (click) = "like()">
        <img [@fade]="fadeState" [@bounce]="bounceState" src="assets/images/Premium-slide5-A.png" />
      </ion-col>
      <ion-col width-25 class="img-center" (click) = "superLike()" *ngIf="premium">
        <img [@fade]="fadeState" [@bounce]="bounceState" src="assets/images/Premium-slide2-A.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>