page-edit-profile {
     .mini-fab{
        top:-30px;
    }
}

.toast-success {
  > div{
       background-color:#32db64!important;
       text-align: center !important;
       border-radius: 15px !important;
       margin-left: 10% !important;
       margin-top: 10% !important;
       vertical-align: center !important; 
   }
}