<ion-header>

  <ion-navbar color="primary">
      <ion-title><ion-spinner color="light" *ngIf="!(users | async)"></ion-spinner></ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
<ion-searchbar [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>

<ion-list>
<ion-list-header>
    <ion-label item-left>NEW MATCHES</ion-label>
</ion-list-header>
  </ion-list>  
  <ion-scroll class="vert-scroll" scrollX="true" *ngIf="everythingLoaded">
    <template ngFor let-user [ngForOf]="users | async">
      <template [ngIf]="user.$key !== uid && (chatsKeys.indexOf(user.$key) == -1)">
       <ion-card>
          <a ion-item (click)="openChat(user.$key)" detail-none>
          <!--<a ion-item (click)="match(user.$key)" detail-none>-->
            <img *ngIf="!user.userImage0" src="assets/images/default.png">
            <img *ngIf="user.userImage0" src="{{user.userImage0}}">
          </a>
          <div class="card-subtitle" *ngIf="user.$key !== uid">{{ user.username }}</div>
        </ion-card>
       </template>
     </template>
    </ion-scroll> 
  <ion-list>
<ion-list-header>
    <ion-label item-left>MESSAGES</ion-label>    
</ion-list-header>
    <ion-scroll class="hor-scroll" scrollY="true">
      <a ion-item *ngFor="let chat of chats | async" (click)="openChat(chat.$key)">
        <ion-avatar item-left>
            <img *ngIf="!(chat.info | async).userImage0" src="assets/images/default.png">
            <img class="list-img-big" *ngIf="(chat.info | async).userImage0" src="{{(chat.info | async).userImage0}}">
        </ion-avatar>
        <span>{{(chat.info | async).email}}</span>
      </a>
    <!--<ion-item *ngFor="let item of items2">
      <ion-avatar item-left>
        <img src="assets/images/default.jpg">
      </ion-avatar>
      
      <h2>{{ item }}</h2>
      <p>last message sent or received</p>
    </ion-item>-->
    </ion-scroll>
  </ion-list>
</ion-content>