page-account {
    .mini-fab{
        top:-30px;
    }

    ion-slide img { 
        height: auto !important; 
        width: auto !important;
    }

    .item-inner{
        border:none !important;
    }

  .distance {
    margin-top: -10px !important;
  }

  ion-badge {
    padding: 10px;
  }
}